.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.7rem;
  width: 70%;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 12rem;
  max-width: 500px;
}

.form input {
  padding: 0.7rem;
  width: 70%;
}

.link {
  font-size: 1.1rem;
  color: black;
  margin-top: 2rem;
}
