.button {
  width: 50px;
  padding: 0.1rem;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.4rem;
}

.post_button {
  /* transform: rotate(180deg);
  z-index: 1; */
  rotate: 180deg;
}

.post_button:hover {
  background-color: rgb(192, 252, 232);
  transition: 0.4s;
  /* rotate: 180; */
  /* transform: rotate(180deg); */
}

.delete_button:hover {
  background-color: rgb(247, 188, 193);
  transition: 0.4s;
}
