.button {
  width: 50px;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.post_button {
  transform: rotate(180deg);
}

.post_button:hover {
  background-color: aquamarine;
  transition: 0.2s;
  /* rotate: 180; */
  /* transform: rotate(180deg); */
}

.delete_button:hover {
  background-color: rgb(255, 127, 138);
  transition: 0.2s;
}
