.img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.text {
  padding: 0 40px;
}

.text h5 {
  font-size: 1.1rem;
  font-weight: 400;
}

.reviews {
  padding: 0 40px;
}

.reviews p {
  font-size: 1.2rem;
}

.reviews p img {
  width: 100%;
  object-fit: cover;
}
